.container{
    width: auto;
    height: auto;
}
.row {
    display: block;
    width: auto;
}
.yellow .content {
    display: inline-block;
    width: 45%;
    margin: 10px;
    background-color: orange;
    height: 100px;
}


.red .content {
    display: inline-block;
    width: 92%;
    margin: 15px;
    background-color: red;
    height: 250px;
}

.blue .content {
    display : inline-block;
    width:28.3%;
    margin: 13px;
    background-color: royalblue;
    height: 150px;
}