.container{
    width: auto;
    height: auto;
}
.row {
    display: block;
    width: auto;
}
.yellow .content {
    display: inline-block;
    width: 45%;
    margin: 10px;
    background-color: orange;
    height: 100px;
}


.red .content {
    display: inline-block;
    width: 92%;
    margin: 15px;
    background-color: red;
    height: 250px;
}

.blue .content {
    display : inline-block;
    width:28.3%;
    margin: 13px;
    background-color: royalblue;
    height: 150px;
}


@media screen and (min-device-width:765px)  and (max-device-width:1065px){
    .yellow .content{
        flex:1 1 auto;
    }
    .red .content{
        flex: 1 1 auto;
    }
    .blue .content{
        flex-flow: column wrap !important;
        
    }
    
}